body {
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 20px;
}

ol,
ul {
	padding-left: 30px;
}

.status {
	margin-bottom: 10px;
}

.square {
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 34px;
}

.kbd-navigation .square:focus {
	background: #ddd;
}

.leaderboard {
	display: flex;
	flex-direction: column;
}

.player-box {
	flex: auto;
}

.nav-bar {
	margin-left: auto;
	margin-right: auto;
}

.page {
	display: flex;
	flex-direction: row;
	align-items: stretch center;
	margin-top: 80px;
}

.player-input {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: space-evenly;
	justify-content: center;
	align-items: center;
}

.input-message {
	font-family: Georgia, serif;
	font-size: 16px;
	letter-spacing: 1px;
	word-spacing: 2px;
	color: #000000;
	text-align: center;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	padding-bottom: 2%;
}

#pad-right {
	padding-right: 3%;
	text-align: center;
	padding-top: 2%;
}

.start-button {
	margin-top: 2%;
	text-align: center;
}

.player-guesses {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: space-evenly;
	justify-content: center;
	align-items: center;
}

.guess-field {
	width: 12%;
	padding-right: 8px;
}

.container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.new-game {
	background-color: lightseagreen;
}
